.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: rgb(212,209,235);
    transition: all ease 1s;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color:black;
}