

.Home {
height: 5vh;
width: 100%;
font-size: 20px;
color: rgb(2, 94, 224);
display: flex;
justify-content: center;
align-items: center;
margin : 30px 120px 20px 20px;
/* border: 1px solid black; */
}


.Home p{
    font-size: 30px;
    border-radius: 20%;
}

.Home p:hover{
    color: white;
    transition: all ease 0.5s;
}